.gdbinit
.DS_Store
musl.specs
config.h

.cache/
.vscode/
.idea/
.gdb_history/
*build*
nginx_/
nginx-*/
redis_/
memtier_/
redis-*/
httpd_/
httpd-*/
http-test-files/
memcached_/
mcperf_/
musl/
*.txt
!CMakeLists.txt
