.tmp_versions/
.vscode/
.gdb_history/
.gdbinit
.log/
monitor/*.o
monitor/monitor
*.o
!monitor/rcrt1.o
*.ko
*.txt
*.cmd
*.mod*
*.order
*.module
*.symvers
*.d
*.ur-safe
*.log

a.out
*-ctl
.DS_Store

*.png
draw*
*.res

nginx_/
redis_/
redis-*/
nginx-*/
httpd_/
httpd-*/
http-test-files/
*.patch
*.rdb
*.pmrc
attacker
.cache.mk
.fuse_*
*musl*
!getmusl.sh
obj/
_random.h